<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Details</title>
</head>
<body>
<h1>Customer Details</h1>
<table border = "1">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Contact Number</th>
		<th>Address</th>
	</tr>
	<tr th:each = "customer : ${customers}">
		<td th:text = "${customer.id}"></td>
		<td th:text = "${customer.name}"></td>
		<td th:text = "${customer.email}"></td>
		<td th:text = "${customer.contactNumber}"></td>
		<td th:text = "${customer.address}"></td>
	</tr>
</table>
</body>
</html>